
*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("images/bg.PNG");
    overflow: hidden;
}

.modal_target{
    width: 660px;
    height: 420px;
    background: #fff;
    position: relative;
    margin: 10% auto;
    -webkit-animation: minimise 500ms linear;
    -moz-animation: minimise 500ms linear;
    animation: minimise 500ms linear;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 90%);
    background: #fff;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
}

#tool_selector{
    position: relative;
    display: grid;
    grid:'exportmode importmode'1fr;
    width: 10%;
    height: auto;
    padding: 10px;
}

.tool_select{
    font-size: 18px;
    padding: 10px 32px;
    margin: 20px 5px 0 5px;
    border-radius: 3px;
}

#exportmode{
    background-color: #ebebeb;
}

.toolButton{
    display: inline-block;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 20px 5px 0 5px;
    font-weight: bolder;
}

.authButton{
    display: inline-block;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    margin-left: 80%;
    font-weight: bolder;
}

button:hover{
    color: azure;
    background-color: rgb(140, 212, 245);
}

.tool_select{
    margin: 10px;
    text-align: center;
    font-weight: bolder;
}

.tool_select:hover, button:hover, #createCal:hover, option:hover, select:hover{
    cursor: pointer;
}

.logo{
    color:#575757; font-size: 40px; margin-right:5px;
}

#title{
    color:#575757;
    font-weight: bolder;
}

#content{
    display: none;
}

#functionality{
    margin-top: 30px;
}


#warning{
    width: 400px;
    height: auto;
    position: relative;
    margin: 10% auto;
    text-align: center;

    color: rgb(145, 72, 72);
    font-weight: bolder;

    font-size: 12px;
    padding: 10px;
    display: none;
}






